<div class="row">
	<div class="col-lg-12">
		<h1 class="page-header text-center" style="color: #f0ad4e">Earth Science Blog</h1>
	</div>
</div> <!-- row -->

<section ng-repeat="post in ESposts | orderBy:'-date'" ng-controller="LEController">
	<div class="row">
		<article ng-class="{'col-sm-12': !post.video, 'col-sm-7': post.video}">
			<div class="pull-right">
				<a ng-repeat="file in post.files" ng-href="{{file.url}}" class="btn btn-warning" role="button">{{file.name}}</a> 
			</div>	
			<div class="well">
				<h4><small>{{post.date}}</small><br>
				<strong>{{post.title}}</strong></h4>
				<p>{{post.body}}</p>
			</div>
		</article>
		<aside class="col-sm-5" ng-if="post.video">
			<div class="embed-responsive embed-responsive-16by9">
				 <iframe class="embed-responsive-item" ng-src="{{post.video}}" allowfullscreen></iframe>
			</div>
		</aside>
	</div> <!-- row -->
<hr>
</section>