<div class="row">
   <div class="col-sm-8">
      <div class="jumbotron">
         <h1>Welcome CTEA Students &amp; Parents!</h1>
            <p class="lead">The purpose of this site is to provide additional help to students and parents in preparation for the NYS Regents Examinations in Living Environment and Earth Science.</p>
            <p>Check out the tabs above everyday for homework, lesson notes, and helpful videos!</p>
            <p>I can be reached on Engrade at any time, and usually respond within an hour, or I can be reached by email at <a href="mailto:jgallardo2@schools.nyc.gov">jgallardo2@schools.nyc.gov</a></p>
      </div> <!-- jumbtotron -->
   </div>
   <div class="col-sm-4">
      <div class="panel panel-primary" id="engrade">
         <div class="panel-heading">
            <h3 class="panel-title text-center"><strong>How to Setup and Use Engrade</strong></h3>
         </div>
         <div class="panel-body text-center">
            YouTube video will be posted here on the evening of 9/17/14. <br><br>
            <a href="http://www.engrade.com" class="btn btn-success btn-lg">Visit Engrade</a>
         </div>
      </div>
   </div>
</div>

<div class="row">
   <div class="col-sm-6">
      <div class="panel panel-success">
         <div class="panel-heading">
            <h3 class="panel-title text-center"><strong>Living Environment</strong></h3>
         </div>

         <table class="table table-condensed">
            <thead>
               <tr>
                  <th class="col-xs-5">Important Dates</th>
                  <th class="col-xs-7">Events</th>
               </tr>
            </thead>
            <tbody>
               <tr>
                  <td>9/17/2014</td>
                  <td>6pm: Parent/Teacher Night</td>
               </tr>
               <tr>
                  <td>9/24/2014</td>
                  <td>EXAM 1: The Scientific Method</td>
               </tr>
               <tr>
                  <td>6/16/2015</td>
                  <td>Living Environment Regents Examination</td>
               </tr>
            </tbody>
         </table>
      </div>
   </div>
   <div class="col-sm-6">
      <div class="panel panel-warning">
         <div class="panel-heading">
            <h3 class="panel-title text-center"><strong>Earth Science</strong></h3>
         </div>
         <table class="table table-condensed">
            <thead>
               <tr>
                  <th class="col-xs-5">Important Dates</th>
                  <th class="col-xs-7">Events</th>
               </tr>
            </thead>
            <tbody>
               <tr>
                  <td>9/17/2014</td>
                  <td>6pm: Parent/Teacher Night</td>
               </tr>
               <tr>
                  <td>9/24/2014</td>
                  <td>EXAM 1: Density, Measurements, Accuracy</td>
               </tr>
               <tr>
                  <td>6/18/2015</td>
                  <td>Earth Science Regents Examination</td>
               </tr>
            </tbody>
         </table>
      </div>
   </div>
</div> <!-- row -->