<div class="row">
	<div class="col-sm-offset-1 col-sm-10">
		<div class="jumbotron">
			<h1>Welcome CTEA Students &amp; Parents!</h1>
				<p class="lead">The purpose of this site is to provide additional help to students and parents in preparation for the NYS Regents Examinations in Living Environment and Earth Science.</p>
				<p>Check out the tabs above everyday for homework, lesson notes, and helpful videos!</p>
				<p>I can be reached on Engrade at any time, and usually respond within an hour, or I can be reached by email at <a href="mailto:jgallardo2@schools.nyc.gov">jgallardo2@schools.nyc.gov</a></p>
		</div> <!-- jumbtotron -->
	</div>
</div>
<div class="row">
	<div class="col-sm-offset-3 col-sm-6">
		<div class="panel panel-primary" id="engrade">
			<div class="panel-heading">
				<h3 class="panel-title text-center"><strong>How to Setup and Use Engrade</strong></h3>
			</div>
			<div class="embed-responsive embed-responsive-16by9">
				<iframe class="embed-responsive-item" src="//www.youtube.com/embed/8kelF-2AG-k?rel=0" allowfullscreen></iframe>
			</div>
		</div>
	</div>
</div>
<hr>