<div class="row">
	<div class="col-sm-offset-2 col-sm-8">

	<div class="panel panel-default">
	<div class="panel-body">

		<h1 class="text-center">New Blog Post</h1>

		<form role="form">
			<div class="form-group">
				<label for="exampleInputEmail1">Title</label>
				<input type="title" class="form-control" id="exampleInputEmail1" placeholder="Enter title">
			</div>
			<div class="form-group">
				<label for="exampleInputPassword1">Subject</label>
				<select class="form-control">
					<option>Living Environment</option>
					<option>Earth Science</option>
				</select>
			</div>
			<div class="form-group">
				<label for="exampleInputPassword1">Body</label>
				<textarea class="form-control" rows="5" placeholder="Type the body of the blog post here."></textarea> <!-- this is not good practice, don't mix inputgroups and text area apparently -->
			</div>
			<div class="form-group">
				<label for="exampleInputFile">File input</label>
				<input type="file" id="exampleInputFile">
			<p class="help-block">Example block-level help text here.</p>
			</div>
			<button type="submit" class="btn btn-primary btn-lg btn-block">Submit Post</button>
		</form>

	</div>
	</div>
		title
		subject
		body
		file name / files
		video embed link
		submit
	</div>
</div>